<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link href="https://fonts.googleapis.com/css?family=Lato:300,400|Nunito:300,400|Raleway:300,400,500&display=swap"
    rel="stylesheet" />
  <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}" />

  <link rel="stylesheet" href="{{ url_for('static', filename='css/sentiment.css') }}" />

  <link rel="stylesheet" href="{{ url_for('static', filename='css/form.css') }}" />

  {% if title %}
  <title>30 Days of Python - {{ title}}</title>
  {% else %}
  <title>30 Days of Python</title>
  {% endif %}
</head>

<body>
  <header>
    <div class="menu-container">
      <div>
        <a class="brand-name nav-link" href="/">30DaysOfPython</a>
      </div>
      <ul class="nav-lists">
        <li class="nav-list">
          <a class="nav-link active" href="{{ url_for('home') }}">Home</a>
        </li>
        <li class="nav-list">
          <a class="nav-link active" href="{{ url_for('about') }}">About</a>
        </li>
        <li class="nav-list">
          <a class="nav-link active" href="{{ url_for('list_students') }}">Students</a>
        </li>
        <li class="nav-list">
          <a class="nav-link active" href="{{ url_for('post') }}">Text Analyzer</a>
        </li>
        <li class="nav-list">
          <a class="nav-link active" href="{{ url_for('students') }}">API</a>
        </li>
        <li class="nav-list">
          <a class="nav-link active" href="{{ url_for('create_student') }}">Join</a>
        </li>
      </ul>
    </div>
  </header>
  <main>
    {% block content %} {% endblock %}
  </main>
  <script src="https://d3js.org/d3.v5.min.js"></script>
  <script src="https://kit.fontawesome.com/ce3e7ed90f.js" crossorigin="anonymous"></script>
  <!-- load the d3.js library -->
  <script src="https://d3js.org/d3.v5.min.js"></script>
  <script>
  </script>
</body>

</html>